button.delete-btn-style {
    border: none;
    color: red;
    background: transparent;
    cursor: pointer;
}

button.delete-btn-style:hover {
    border: none;
    color: red;
    background: transparent;
    cursor: pointer;
}

a.fa-edit-style {
    border: none;
    color: #16aaff;
    background: transparent;
}

a.fa-edit-style:hover {
    border: none;
    color: #16aaff;
    background: transparent;
}

a.fa-eye-style {
    border: none;
    color: #226d04;
    background: transparent;
}

a.fa-eye-style:hover {
    border: none;
    color: #226d04;
    background: transparent;
}
